<div class="navlinks" ng-if="navlinksdisplay">
  <div ng-click="menuNav('home')" class="menutab" ng-class="{'menuactivetab': nav == 'home'}" data-page="functionering" data-sub="navlink" data-type="tab">Overzicht</div>
  <div ng-click="menuNav('results')" class="menutab" ng-class="{'menuactivetab': nav == 'results'}" data-page="functionering" data-sub="navlink" data-type="tab">Resultaten</div>
  <div ng-click="menuNav('agreements')" class="menutab" ng-class="{'menuactivetab': nav == 'agreements'}" data-page="functionering" data-sub="navlink" data-type="tab">Afspraken</div>
  <div ng-click="menuNav('archive')" class="menutab" ng-class="{'menuactivetab': nav == 'archive'}" data-page="functionering" data-sub="navlink" data-type="tab">Archief</div>
</div>
