<div id="loginunit">
  <div ng-show="logindisplay" class="notify" id="login">
    <p>Inloggen</p>
    <form ng-submit="login()">
      <input type="email" ng-model="email" placeholder="Email" class="btninput btn100" required>
      <div class="error">{{ unerror }}</div>
      <input type="password" ng-model="password" placeholder="Password" class="btninput btn100" required>
      <div class="error">{{ pwerror }}</div>
      <div class="buttoncent" style="margin-bottom: 20px;">
        <button class="btn btn-blue spacer" ng-click="logindisplay = !logindisplay; signupdisplay = !signupdisplay" data-page="login-registreren" data-sub="login" data-type="button">Registreer</button>
        <input class="btn btn-red spacer" type="submit" value="Login" style="min-width: 120px;" data-page="login-registreren" data-sub="login" data-type="button">
      </div>
      <div class="buttoncent">
        <button class="btn btn-transparent" ng-click="logindisplay = !logindisplay; resetdisplay = !resetdisplay" data-page="login-registreren" data-sub="login" data-type="button">Wachtwoord vergeten</button>
      </div>
    </form>
  </div>
  <div ng-show="signupdisplay" class="notify">
    <p>Registreren</p>
    <form ng-submit="signup()">
      <input type="email" ng-model="email" placeholder="Email" class="btninput btn100">
      <div class="error">{{ unrerror }}</div>
      <input type="password" ng-model="password" placeholder="Password" class="btninput btn100">
      <div class="error">{{ pwrerror }}</div>
      <div class="buttoncent">
        <button class="btn btn-blue spacer" ng-click="logindisplay = !logindisplay; signupdisplay = !signupdisplay" style="min-width: 120px;" data-page="login-registreren" data-sub="registreren" data-type="button">Login</button>
        <input class="btn btn-red spacer" type="submit" value="Registreer" data-page="login-registreren" data-sub="registreren" data-type="button">
      </div>
    </form>
  </div>
  <div ng-show="resetdisplay" class="notify">
    <p>Wachtwoord reset</p>
    <p>Er wordt een e-mail naar dit adres verzonden met instructies om je wachtwoord te resetten</p>
    <form ng-submit="reset()">
      <input type="email" ng-model="email" placeholder="Email" class="btninput btn100">
      <div class="buttoncent">
        <button class="btn btn-transparent spacer" ng-click="logindisplay = !logindisplay; resetdisplay = !resetdisplay" style="min-width: 120px;" data-page="login-registreren" data-sub="wachtwoord-vergeten" data-type="button">Terug</button>
        <input class="btn btn-red spacer" type="submit" value="Verzend" style="min-width: 120px;" data-page="login-registreren" data-sub="wachtwoord-vergeten" data-type="button">
      </div>
    </form>
  </div>
  <div ng-show="resetsentdisplay" class="notify">
    <p>Wachtwoord verstuurd</p>
    <p>Een wachtwoord reset link is verstuurd naar je e-mailadres.</p>
    <button class="btn btn-red" ng-click="logindisplay = !logindisplay; resetsentdisplay = !resetsentdisplay" data-page="login-registreren" data-sub="wachtwoord-verstuurd" data-type="button">Login</button>
  </div>
</div>
