<div id="content">
  <!--
  <div class="notify" ng-if="welcomedisplay">
    <p>Welkom bij de Workfit app, de app die ervoor zorgt dat je gezond en gelukkig bent en blijft op je werk.
      <br>De app is anoniem, gegevens die je invult zijn alleen voor jezelf inzichtelijk.</p>
    <div class="buttoncent">
      <form ng-submit="getUitleg()" class="buttoninline">
        <input class="btn spacer" type="submit" value="Toelichting WorkFit" data-page="nulmeting" data-sub="welkom" data-type="button">
      </form>
      <form ng-submit="startNulmeting('new')" class="buttoninline">
        <input class="btn btn-red spacer" type="submit" value="Begin nulmeting" data-page="nulmeting" data-sub="welkom" data-type="button">
      </form>
    </div>
  </div>

  <div class="notify" ng-show="existingdisplay">
    <p>Je hebt de nulmeting nog niet afgerond.</p>
    <form ng-submit="startNulmeting('existing')" class="buttoncent">
      <input class="btn btn-red" type="submit" value="Maak nulmeting af" data-page="nulmeting" data-sub="finish" data-type="button">
    </form>
  </div>
-->

  <div class="notify" ng-show="resultdisplay">
    <p>Mooi! Je scoort voldoende op alle gezondheidsgebieden. Klik onderstaand om de resultaten te zien.</p>
    <form ng-submit="getPath('profiel', 'nulmeting', true)" class="buttoncent">
      <input class="btn btn-blue" type="submit" value="Resultaten nulmeting" data-page="nulmeting" data-sub="nouitval" data-type="button">
    </form>
  </div>

  <div class="notify" ng-show="welcomedisplay || existingdisplay || againdisplay">
    <span ng-if="welcomedisplay">Welkom bij de Workfit app, de app die ervoor zorgt dat je gezond en gelukkig bent en blijft op je werk.<br>De app is anoniem, gegevens die je invult zijn alleen voor jezelf inzichtelijk.</span>
    <span ng-if="existingdisplay">Je hebt de nulmeting nog niet afgerond.</span>
    <span ng-if="againdisplay">Ga verder met een van onderstaande onderdelen.</span>
    <div>&nbsp;</div>
    <div class="tiles-grid">
      <div data-role="tile" class="tile-medium" ng-click="getPath('advies', 'uitleg', true)" data-page="nulmeting" data-sub="afgerond" data-type="tile">
        <span class="mif-info icon"></span>
        <span class="branding-bar">Toelichting WorkFit</span>
      </div>
      <div data-role="tile" class="tile-medium bg-red" ng-click="startNulmeting('new')" data-page="nulmeting" data-sub="afgerond" data-type="tile" ng-if="welcomedisplay">
        <span class="mif-meter icon"></span>
        <span class="branding-bar">Begin nulmeting</span>
        <span class="badge-top mif-bell"></span>
      </div>
      <div data-role="tile" class="tile-medium bg-red" ng-click="startNulmeting('existing')" data-page="nulmeting" data-sub="afgerond" data-type="tile" ng-if="existingdisplay">
        <span class="mif-meter icon"></span>
        <span class="branding-bar">Maak nulmeting af</span>
        <span class="badge-top mif-bell"></span>
      </div>
      <div data-role="tile" class="tile-medium" ng-click="getPath('weekly', false, againdisplay)" data-page="nulmeting" data-sub="afgerond" data-type="tile" ng-class="{'bg-red': weeklynot, 'bg-tint': !againdisplay}">
        <span class="mif-alarm icon"></span>
        <span class="branding-bar">Wekelijkse check</span>
        <span class="badge-top" ng-class="{'mif-bell': weeklynot}"></span>
      </div>
      <div data-role="tile" class="tile-medium" ng-click="getPath('profiel', 'nulmeting', againdisplay)" data-page="nulmeting" data-sub="afgerond" data-type="tile" ng-class="{'bg-tint': !againdisplay}">
        <span class="mif-chart-bars icon"></span>
        <span class="branding-bar">Resultaten nulmeting</span>
      </div>
      <div data-role="tile" class="tile-medium" ng-click="getPath('profiel', false, againdisplay)" data-page="nulmeting" data-sub="afgerond" data-type="tile" ng-class="{'bg-tint': !againdisplay}">
        <span class="mif-chart-pie icon"></span>
        <span class="branding-bar">Profiel</span>
      </div>
      <div data-role="tile" class="tile-medium" ng-click="getPath('verbetertrajecten', false, againdisplay)" data-page="nulmeting" data-sub="afgerond" data-type="tile" ng-class="{'bg-red': ontwikkelnot, 'bg-tint': !againdisplay}">
        <span class="mif-tools icon"></span>
        <span class="branding-bar">Ontwikkeltrajecten</span>
        <span class="badge-top" ng-class="{'mif-bell': ontwikkelnot}"></span>
      </div>
      <div data-role="tile" class="tile-medium" ng-click="getPath('functioneringstest', false, againdisplay)" data-page="nulmeting" data-sub="afgerond" data-type="tile" ng-if="functile" ng-class="{'bg-red': funcnot, 'bg-tint': !againdisplay}">
        <span class="mif-users icon"></span>
        <span class="branding-bar">Functioneringsgesprek</span>
        <span class="badge-top" ng-class="{'mif-bell': funcnot}"></span>
      </div>
      <div data-role="tile" class="tile-medium" ng-click="getPath('tests', false, againdisplay)" data-page="nulmeting" data-sub="afgerond" data-type="tile" ng-class="{'bg-tint': !againdisplay}">
        <span class="mif-stethoscope icon"></span>
        <span class="branding-bar">Gezondheidstesten</span>
      </div>
      <div data-role="tile" class="tile-medium" ng-click="getPath('personalitytest', false, againdisplay)" data-page="nulmeting" data-sub="afgerond" data-type="tile" ng-class="{'bg-tint': !againdisplay}">
        <span class="mif-pencil icon"></span>
        <span class="branding-bar">Persoonlijkheidstest</span>
      </div>
    </div>
  </div>

  <div ng-show="questionsdisplay" class="questions">
    <div ng-repeat="question in questions" ng-show="question.display" class="question" ng-class="{isshow: question.display}">
      <div class="progressbar">
        <button ng-click="prevQuestion($index)" value="Terug" ng-if="$index > 0" class="btnsmall btn-green btnprev" data-page="nulmeting" data-sub="test" data-type="button-small">Terug</button>
        <button ng-click="nextQuestion($index)" value="Volgende" ng-if="checkedquestion[$index]" class="btnsmall btn-green btnnext" data-page="nulmeting" data-sub="test" data-type="button-small">Volgende</button>
      </div>
      <div class="progress">vraag {{ $index + 1 }} van {{ questionsLength }}</div>
      <div class="detail"><p>{{ question.q }}</p></div>
      <div class="responseops">
        <span ng-repeat="n in (question.pos ? posvalues : negvalues)">
          <input type="radio" ng-model="nulgebied_answer" value="{{ n.val }}" ng-change="changedRN(nulgebied_answer,'{{ $parent.question.gebied }}',{{ $parent.$index }})" name="{{ $parent.question.gebied }}-{{ $parent.$index }}" id="{{ $parent.question.gebied }}-{{ $parent.$index }}-{{ n.val }}" class="radio"/>
          <label for="{{ $parent.question.gebied }}-{{ $parent.$index }}-{{ n.val }}" data-page="nulmeting" data-sub="test" data-type="option">{{ n.label[question.ro] }}</label>
        </span>
      </div>
    </div>
  </div>
</div>
